.container {
    max-width: 570px;
    margin: 0 auto;
    padding: 70px 0 50px;
}
h1{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.info {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    max-width: 570px;
    margin: 0 auto 30px;
    position: relative;
    background-color: #fff;
}

.info .welcome{
    border-bottom: 1px solid #ddd;
    color: #777;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 30px 20px 30px;
}
.info .login {
    padding: 20px;
    padding-bottom: 0;
}
.info .login input {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    max-width: 530px;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
}
.info .save{
    position: relative;
    margin-bottom: 20px;
}
.info .save input{
    position: absolute;
    width: 63px;
    height: 26px;
    padding: 0;
    border: 0 none;
    background: #fff;
    cursor: pointer;
    opacity: 0;
}
.info .save input[type=checkbox]+ label{
    color: #ccc;
}
.info .save input[type=checkbox]:checked + label{
    color: #006633;
}
.info .save label{
    display: flex;
    align-items: center;
    height: 26px;
    line-height: 26px;
    padding-left: 18px;
    color: #3f4141;
    cursor: pointer;
    vertical-align: top;
    background-size: 26px;
    cursor: pointer;
    z-index: 4;
}
.info .save label p{
    color: #3f4141;
}
.info input[type=submit]{ 
    background-color: #006633;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 3;
    width: 93%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
}
.waring-txt{
    font-size: 14px;
    line-height: 1.4;
    margin-top: 15px;
    color: #006633 !important;
    margin: 20px;
}
.forget ul{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    margin-left: 70px;
}

.forget ul li{
    color: #666;
    font-size: 16px;
    height: 100%;
    line-height: 54px;
    width: 100%;
    text-align: center;
    display: inline;
}
.forget ul li::after{
    content: "|";
    font-weight: 100;
    opacity: 0.5;
    margin-left: 30px;
    height: 30px;
}
.forget ul li:last-child{

}
.forget ul li:last-child::after{
    content: "";
}