.banner{
    margin: 0 auto;
    padding-top: 104px;
    position: relative;
    width: 100%;
    height: 178px;
}
.home_list {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10%;
}
.home_list li{
    color: #fff;
    margin: 5px;
    font-size: 12px;
}